{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Conrad's Stuff</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/categories">Categories</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{if .user}}
          <li> <a href="#" id="logout">Hello {{.user.Username}}, Signout?</a><li>
        {{else}}
          <li><a href="#" id="login">Login (comments)</a><li>
        {{end}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="jumbotron">
    <h2>Hello, {{.email}}</h2>
  </div>
</div>

{{template "footer.html" .}}
